{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-macros",
    "@babel/plugin-proposal-logical-assignment-operators",
    ["styled-components", { "ssr": true }],
    "@emotion/babel-plugin"
  ]
}
